<!doctype html>
<html lang="sl">
<head>
 <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pri Zarometixu smo specializirani za obnovo žarometov avtomobilov. Nudimo kakovostno obnovo žarometov za vse vrste avtomobilov.">
<meta name="keywords" content="obnova žarometov, popravilo žarometov, čiščenje žarometov, kakovostna obnova žarometov">
<meta property="og:type" content="Obnova Žarometov" />
  <meta property="og:title" content="Obnova avtomobilskih žarometov" />
  <meta property="og:description" content="Pri Zarometixu smo specializirani za obnovo žarometov avtomobilov. Nudimo kakovostno obnovo žarometov za vse vrste avtomobilov." />
  <meta property="og:image" content="static/img/logo.png" />
  <meta property="og:url" content="URL STRANI" />
  <meta property="og:site_name" content="Zarometix" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
  <link rel="stylesheet" href="static/css/carousel.css" type="text/css">
  <link rel="stylesheet" href="static/css/cards-gallery.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Add animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

      <!-- Add Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- Add Swiper Slider CSS -->

    <title>Obnova avtomobilskih žarometov - Zarometix</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="static/img/logo.png" alt="Zarometix" class="logo-img">
    </a>
    <button class="navbar-toggler ml-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon "></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto " id="links">
        <li class="nav-item ">
          <a class="nav-link " href="/">Domov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Zakaj izbrati nas?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="static/img/img1.jpg" alt="Obnova žarometov">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2>Ohranite varnost na cesti</h2>

                        <h1>Z zanesljivimi žarometi</h1>

                    </div>
                </div>
             </div>
        </div>
        <div class="item">
            <img src="static/img/image2.png" alt="Obnova žarometov">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line animated bounceInLeft"></div>
                      <h2>Prenovite svoje žaromete</h2>

                      <h1>Za boljšo varnost in lepši videz</h1>

                    </div>
                </div>
             </div>
        </div>
        <div class="item">
            <img src="static/img/img3.jpg" alt="Obnova žarometov">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line animated bounceInLeft"></div>
                        <h2>Zagotovite si jasno svetlobo</h2>

                        <h1>Nudimo kakovostno obnovo žarometov za vse vrste avtomobilov</h1>

                    </div>
                </div>
             </div>
        </div>
    </div>
</header>
<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="static/img/img4.jpg"  alt="obnova žarometov - O nas">
      </div>
      <div class="col-lg-6">
        <h2>O nas</h2>
        <p> Pri Zarometixu smo specializirani za <strong>obnovo žarometov</strong> avtomobilov, s storitvijo na voljo za širok spekter avtomobilskih modelov.</p>
        <p>
          Zahvaljujoč našim storitvam, boste dosegli izjemne rezultate. Obnova žarometov bo izboljšala vašo vidljivost na cesti, povečala varnost med vožnjo ter obnovila estetski videz vašega avtomobila.
        </p>
        <p>
          <strong class="fw-bold">Redno vzdrževanje in optimalno stanje luči na vašem vozilu ima izjemno pomembno vlogo pri uspešnem opravljanju tehničnega pregleda ter preprečevanju morebitnih nevšečnosti in težav.</strong>
        </p>
        <p>
          Za kakovostno obnovo žarometov se obrnite na nas. Prepustite svoje žaromete strokovnjakom in se sami prepričajte o rezultatih.
        </p>
 </div>
    </div>
  </div>

</section>

<section id="about-bottom" class="about-bottom-wthree py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="row py-4 posi-w3ls-bottom">
      <div class="col-lg-3 col-md-6 bottom-w3ls1">
          <i class="fas fa-users text-white"></i>
        <h4 class="text-white mb-4">Izkušeni mojstri</h4>
        <p class="text-white">Profesionalna obnova žarometov.</p>
      </div>
      <div class="col-lg-3 col-md-6 bottom-w3ls1 my-lg-0 my-5">
          <i class="fas fa-tachometer-alt text-white"></i>
        <h4 class="text-white mb-4">Izjemna trajnost</h4>
        <p class="text-white">Dolgotrajna jasnost in vrhunski videz vaših žarometov.</p>

      </div>
      <div class="col-lg-3 col-md-6 bottom-w3ls1">
           <i class="fas fa-american-sign-language-interpreting text-white"></i>
        <h4 class="text-white mb-4">Napredni materiali</h4>
        <p class="text-white">Uporaba najnaprednejših materialov za vrhunsko zaščito vaših žarometov.</p>

      </div>
      <div class="col-lg-3 col-md-6 bottom-w3ls1">
           <i class="fas fa-check-circle text-white"></i>
        <h4 class="text-white mb-4">Izjemna učinkovitost</h4>
        <p class="text-white">Hitra in kakovostna obnova žarometov, ki takoj izboljša videz in funkcionalnost vašega avtomobila.</p>
      </div>
    </div>
  </div>
</section>

<section id="image-slider" class="py-5">
  <div class="container">
    <h3 class="text-center mb-2">Žarometi Pred in Po Obnovi</h3>
      <p class="text-center mb-4">Poglejte Naše Izjemne Rezultate!</p>
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before1.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after1.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before2.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after2.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before4.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after4.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before3.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after3.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
              <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before5.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after5.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
              <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before6.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after6.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
              <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/before7.jpg" alt="Pred obnovo Žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="before-text">Prej</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="static/img/after7.jpg" alt="Po obnovi žarometov" class="d-block w-100">
                <div class="text-container">
                  <span class="after-text">Potem</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="procedure" class="py-5">
  <div class="container">
    <h3 class="text-center mb-4">Postopek obnove žarometov</h3>
    <div class="row">
      <div class="col-md-3 step-animation">
        <img src="static/img/step1.jpg" alt="Korak 1" class="d-block">
        <p class="step-description">Korak 1: Priprava in pranje</p>
        <p class="step-details">Pripravimo žaromete in jih operemo za nadaljnje postopke.</p>
      </div>
      <div class="col-md-3 step-animation " style="animation-delay: 0.2s;">
        <img src="static/img/step2.jpg" alt="Korak 2" class="d-block">
        <p class="step-description " style="margin-bottom:15px;"> Korak 2: Brušenje</p>
        <p class="step-details">Uporabimo brusne tehnike za odstranjevanje oksidacije in poškodb žarometov.</p>
      </div>
      <div class="col-md-3 step-animation" style="animation-delay: 0.4s;">
        <img src="static/img/step3.jpg" alt="Korak 3" class="d-block">
        <p class="step-description">Korak 3: Polimerni premaz</p>
        <p class="step-details">Nanesemo polimerni premaz za ohranjanje sijaja in zaščito žarometov pred oksidacijo.</p>
      </div>
      <div class="col-md-3 step-animation" style="animation-delay: 0.6s;">
        <img src="static/img/step4.jpg" alt="Korak 4" class="d-block">
        <p class="step-description">Korak 4: Končni rezultat</p>
        <p class="step-details">Dosežemo popolno obnovo žarometov za sijajen in jasen končni rezultat.</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Lokacija</h5>
        <img src="static/img/location.png" alt="Lokacija" class="footer-image">
      </div>
      <div class="col-md-4 text-center">
        <img src="static/img/logo.png" alt="Obnova žarometov - Zarometix" class="footer-logo">
        <div class="toolbar">
        <a href="tel:031714181" class="telephone-link">
          <i class="fa fa-phone"></i> 031 714 181
        </a>
</div>
      </div>
      <div class="col-md-4">
        <h5 style="text-align:right;">Povezave</h5>
        <ul class="list-unstyled text-end">
          <li><a href="/">Domov</a></li>
          <li><a href="/about">O nas</a></li>
          <li><a href="/contact">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2023 Zarometix. Vse pravice pridržane.</p>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Custom Script -->


<script>

  document.addEventListener('DOMContentLoaded', function() {
    const owlCarousel = $('.owl-carousel');
    owlCarousel.owlCarousel({
      loop: true,
      margin: 10,
      dots: false,
      nav: true,
      mouseDrag: false,
      autoplay: true,
      animateOut: 'slideOutUp',
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 1
        },
        1000: {
          items: 1
        }
      }
    });
  });
</script>




</body>

</html>